@import "grid.css";

.accordion-body {
    width: 100%;
    grid-template-columns: repeat(auto-fill, var(--imageSize));
    grid-template-rows: auto;
    gap: 15px;
    position: relative;
    padding: 15px;
    background-color: var(--bgColor);
    display: none;
}

.accordion-item.active .accordion-body {
    display: grid;
}

.accordion-body.restricted {
    grid-template-columns: 100%;
}

.accordion-body .grid-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
