@import "accordion-item.css";

body.light-theme {
    --accordionItemBorderColor: #ccc;
}

body.dark-theme {
    --accordionItemBorderColor: #7f7f7f;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion .accordion-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
