@import "thumbnail.css";

body.light-theme {
    --imageBorderColor: #b1b1b1;
    --itemDetailBgColor: #272727;
    --itemDetailFontColor: #fff;
}

body.dark-theme {
    --imageBorderColor: #b1b1b1;
    --itemDetailBgColor: #272727;
    --itemDetailFontColor: #fff;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--imageSize));
    grid-template-rows: auto;
    gap: 10px;
}

.grid-item {
    width: var(--imageSize);
    height: var(--imageSize);
    justify-self: center;
    position: relative;
    border: 4px solid var(--imageBorderColor);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    user-select: none;

    &:hover {
        border-color: var(--activeColorHover);
    }

    &.checked {
        border-color: var(--activeColor);
    }
}

.grid-item .download_image_button {
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    padding: 3px;
    border: 1px solid;
}

.grid-item .download_image_button .x-icon {
    font-size: 16px;
}

.grid-item :is(.item-details-ext, .item-details-dimensions, .item-details-duration, .download_image_button) {
    background-color: var(--itemDetailBgColor);
    color: var(--itemDetailFontColor);
    border: 1px solid;
    position: absolute;
}

.grid-item :is(.item-details-ext, .item-details-dimensions, .item-details-duration) {
    padding: 0 3px;
    font-size: 10px;
    pointer-events: none;
    bottom: 0;
    height: 20px;
}

.grid-item :is(.item-details-ext, .item-details-dimensions, .item-details-duration):empty {
    display: none;
}

.grid-item .item-details-ext {
    top: 0;
    right: 0;
    line-height: 16px;
}

.grid-item .item-details-duration {
    right: 0;
}

.grid-item .item-details-dimensions {
    line-height: 18px;
}
