body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}
body .container {
  max-height: 600px;
  min-height: 300px;
  width: 600px;
  background: white;
}
body .container #status {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
}
body .container #media {
  width: 100%;
  height: auto;
}
body .container #media section {
  width: 100%;
  height: auto;
  float: left;
}
body .container #media section .header {
  width: 100%;
  float: left;
  height: auto;
  background: #eee;
  line-height: 25px;
  padding: 0 10px;
}
body .container #media section .header .title {
  width: 50%;
  float: left;
}
body .container #media section .header .show-hide {
  float: right;
  position: relative;
}
body .container #media section .header .show-hide::after {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  right: -10px;
  font-size: 20px;
}
body .container #media section.opened .header .show-hide::after {
  content: '-';
}
body .container #media section.opened .filters,
body .container #media section.opened .content {
  display: block;
}
body .container #media section:not(.opened) .header .show-hide::after {
  content: '+';
}
body .container #media section:not(.opened) .filters,
body .container #media section:not(.opened) .content {
  display: none;
}
body .container #media section.images-section .content tr td {
  background: #eee;
  position: relative;
  padding: 5px;
}
body .container #media section.images-section .content tr td:first-child {
  max-width: 50px;
}
body .container #media section.images-section .content tr td .download-image-button {
  background-image: url(../img/download.png);
  background-color: #3b94c7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: left;
  margin: 15px 0px;
}
body .container #media section.images-section .content tr td label {
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  margin: 0;
}
body .container #media section.images-section .content tr td label .image-checkbox {
  float: left;
  width: 15px;
  height: 15px;
  margin: 17px;
}
body .container #media section.images-section .content tr td .loader {
  width: 50px;
  height: 50px;
  background-image: url(../img/loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 5px;
  z-index: 1;
}
body .container #media section.images-section .content tr td .image {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: 0px 5px;
  z-index: 2;
}
body .container #media section.images-section .content tr td .text {
  width: auto;
  height: 50px;
  line-height: 50px;
  float: left;
  margin: 0px 5px 0px 60px;
}
body .container #media section.images-section .content tr td.size,
body .container #media section.images-section .content tr td.dimensions {
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */