@import "../common.css";

body.light-theme {
    --firstLineChangesColor: #2c3e50;
    --versionTitleColor: #e74c3c;

}

body.dark-theme {
    --firstLineChangesColor: #06a2d2;
    --versionTitleColor: #e74c3c;

}

body {
    color: var(--fontColor);
    background-color: var(--bgColor);
    padding: 20px;
    line-height: 1.6;
}

p {
    font-size: 1.1rem;
    margin: 20px 0 10px;
    font-weight: bold;
    color: var(--fontColor);
}

ul {
    margin: 10px 0 20px 20px;
    padding-left: 20px;
}

li {
    margin: 5px 0;
    padding-left: 5px;
    font-size: 1rem;
    color: var(--fontColor2);
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--activeColor);
    color: var(--fontColor);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: var(--activeColorHover);
}

p.version-title {
    color: var(--versionTitleColor);
    font-size: 1.2rem;
}

ul li:first-child {
    font-weight: bold;
    color: var(--firstLineChangesColor);
}
