@import "../common.css";


body {
    color: var(--fontColor);
    background-color: var(--bgColor);
    line-height: 1.6;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

main {
    padding: 15px;
}

h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#status {
    display: none;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
