@import "filter-form-elements.css";
@import "filters-chips.css";
@import "filters-sections.css";

body.light-theme {
    --chipBg: rgba(42, 109, 253, 0.3);
    --chipIconHover: rgb(213, 0, 0);
    --closeFiltersColor: #eee;
}

body.dark-theme {
    --chipBg: rgba(2, 85, 218, 0.3);
    --chipIconHover: rgb(213, 0, 0);
    --closeFiltersColor: #eee;
}

.filters {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.filters > .x-icon.open-filters {
    cursor: pointer;
    pointer-events: all;
    display: flex;
    justify-content: flex-end;
}

.filters > .x-icon.open-filters.active-filters {
    color: var(--activeColor);
}

.filters .filters-content:not([hidden]) + .open-filters {
    display: none;
}

.filters .filters-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.filters .filters-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-variant: small-caps;
}

.filters-buttons :is(.close-filters, .reset-filters) {
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.filters-buttons .close-filters {
    background: var(--activeColor);
    color: var(--closeFiltersColor);
}

.filters-buttons .reset-filters {
    background: var(--dangerColor);
    color: var(--closeFiltersColor);
}

.label-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-group .group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
