<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Changelog</title>
  <link href="/css/changelog/changelog.css" rel="stylesheet">
</head>
<body>
<h1>Changelog</h1>

<p class="version-title">Version 2.1.0:</p>
<ul>
  <li>You can now filter media by size and type</li>
</ul>

<p class="version-title">Version 2.0.4:</p>
<ul>
  <li>Fix minor bugs after update few features</li>
</ul>

<p class="version-title">Version 2.0.3:</p>
<ul>
  <li>Fix bug that downloader stops appearing</li>
</ul>

<p class="version-title">Version 2.0.2:</p>
<ul>
  <li>You can switch whether open popup or side panel</li>
</ul>

<p class="version-title">Version 2.0.1:</p>
<ul>
  <li>Fix download errors</li>
</ul>

<p class="version-title">Version 2.0.0:</p>
<ul>
  <li>Dark theme available</li>
  <li>Added Media Downloader to context menu</li>
  <li>Moved downloader to left panel</li>
  <li>Changed layout</li>
  <li>Display media from all visited tabs</li>
  <li>Remember media when changing tab</li>
  <li>Remember media when changing URL in tab</li>
  <li>Fixed bugs that "when video url is in &lt;source&gt; tag then shows empty page"</li>
</ul>

<p class="version-title">Version 1.2.0:</p>
<ul>
  <li>You can now select many items to download at once</li>
  <li>Allow to download audio</li>
</ul>

<p class="version-title">Version 1.1.0:</p>
<ul>
  <li>You can now select many items to download at once</li>
  <li>Allow to download audio</li>
</ul>

<p class="version-title">Version 1.0.2:</p>
<ul>
  <li>Allow to download videos</li>
  <li>Allow to download background images</li>
</ul>

<p class="version-title">Version 1.0.0:</p>
<ul>
  <li>Simple images downloader</li>
</ul>

<p><a href="mailto:dawidjez@gmail.com" target="_blank">Contact me</a></p>

<script src="/dist/theme.bundle.js"></script>
</body>
</html>
