<!DOCTYPE html>
<html lang="en">
<head>
  <title>Media Downloader</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link href="/css/downloader/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
  <div class="top">
    <div id="top-container">
      <div class="section-buttons">
        <button data-section="images" class="selected">
          <span class="material-symbols-outlined">imagesmode</span>
        </button>
        <button data-section="videos">
          <span class="material-symbols-outlined">videocam</span>
        </button>
        <button data-section="audios">
          <span class="material-symbols-outlined">music_note</span>
        </button>
      </div>
    </div>

    <div class="select-all-container">
      <label>
        <input type="checkbox" id="toggle_all_checkbox">
        Select all (<span class="count-all">0</span>)
      </label>
    </div>
  </div>
  <div class="accordion"></div>

  <div class="download">
    <button type="button" id="download-btn" disabled>
      <span class="material-symbols-outlined">download</span>
      <span class="accent">Download <span class="selected-count"></span></span>
    </button>
  </div>
</main>

<script src="/src/theme.js"></script>
<script src="/src/downloader/utils.js"></script>
<script src="/src/downloader/chrome-api.js"></script>
<script src="/src/downloader/download-functions.js"></script>
<script src="/src/downloader/dom-functions.js"></script>
<script src="/src/downloader/popup.js"></script>
</body>
</html>

