<!DOCTYPE html>
<html lang="en">
<head>
  <title>Media Downloader</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link href="/css/downloader/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
  <div class="top">
    <div id="top-container">
      <div class="section-buttons">
        <button data-section="images" class="selected">
          <x-icon>imagesmode</x-icon>
        </button>
        <button data-section="videos">
          <x-icon>videocam</x-icon>
        </button>
        <button data-section="audios">
          <x-icon>music_note</x-icon>
        </button>
      </div>
    </div>

    <div class="select-all-container">
      <label>
        <input type="checkbox" id="toggle_all_checkbox">
        Select all (<span class="count-all">0</span>)
      </label>
    </div>
  </div>
  <x-accordion></x-accordion>
  <div class="yt-info" hidden>
    Note: Chrome Web Store does not allow extensions that download videos from YouTube any longer.
    <a href="https://developer.chrome.com/docs/webstore/troubleshooting/#prohibited-products">Chrome policy</a>
  </div>

  <div class="download">
    <button type="button" id="download-btn" disabled>
      <x-icon>download</x-icon>
      <span>Download&nbsp;<span class="selected-count"></span></span>
    </button>
  </div>
</main>

<script src="/js/theme.js"></script>
<script src="/js/downloader/utils.js"></script>
<script src="/js/downloader/chrome-api.js"></script>
<script src="/js/downloader/download-functions.js"></script>
<script src="/js/downloader/dom-functions.js"></script>
<script src="/js/downloader/media-display.js"></script>
<script src="/js/downloader/downloader.js"></script>

<script src="/js/web-components/icon.component.js"></script>
<script src="/js/web-components/grid/thumbnail/image-thumbnail.component.js"></script>
<script src="/js/web-components/grid/thumbnail/video-thumbnail.component.js"></script>
<script src="/js/web-components/grid/thumbnail/audio-thumbnail.component.js"></script>
<script src="/js/web-components/grid/grid-item.component.js"></script>

<script src="/js/web-components/accordion/accordion.js"></script>
<script src="/js/web-components/accordion/accordion-item.js"></script>
<script src="/js/web-components/accordion/accordion-header.js"></script>
<script src="/js/web-components/accordion/accordion-body.js"></script>
</body>
</html>

