<!DOCTYPE html>
<html lang="en">
<head>
  <title>Media Downloader</title>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
  <link href="/css/downloader/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
  <div class="top">
    <div id="top-container">
      <div class="section-buttons">
        <button class="selected" data-section="image">
          <span class="x-icon">imagesmode</span>
        </button>
        <button data-section="video">
          <span class="x-icon">videocam</span>
        </button>
        <button data-section="audio">
          <span class="x-icon">music_note</span>
        </button>
      </div>
    </div>

    <div class="select-all-container">
      <label>
        <input id="toggle_all_checkbox" type="checkbox">
        Select all (<span class="count-all">0</span>)
      </label>
    </div>
  </div>
  <div class="accordion"></div>

  <div class="download">
    <button disabled id="download-btn" type="button">
      <span class="x-icon">download</span>
      <span>Download&nbsp;<span class="selected-count"></span></span>
    </button>
  </div>
</main>

<script src="/dist/popup-dimensions.bundle.js"></script>
<script src="/dist/theme.bundle.js"></script>
<script src="/dist/downloader/main.bundle.js"></script>

</body>
</html>

