<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/options/options.css">
  <title>Extension Options</title>
</head>
<body>
<header>
  <h1>Media Downloader Settings</h1>
</header>
<main>

  <h2>Choose Theme</h2>
  <form id="theme-form">
    <label>
      <input type="radio" name="theme" value="light"> Light
    </label><br>
    <label>
      <input type="radio" name="theme" value="dark"> Dark
    </label><br>
    <label>
      <input type="radio" name="theme" value="system"> System
    </label><br>
    <button type="submit">Save</button>
  </form>

</main>
<script src="/js/theme.js"></script>
<script src="/js/options/options.js"></script>
</body>
</html>
