@import "accordion-item.css";

body.light-theme {
  --accordionItemBorderColor: #ccc;
}

body.dark-theme {
  --accordionItemBorderColor: #333;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion .accordion-group {
  display: flex;
  flex-direction: column;
}