<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Changelog</title>
  <link href="/css/changelog/changelog.css" rel="stylesheet">
</head>
<body>
<h1>Changelog</h1>

<p class="version-title">Version 2.1.5:</p>
<div class="changes">
  <div class="item">
    <div class="text">Download all media from page on single click</div>
    <div class="images">
      <img src="./context-menu-download-all.png" alt="">
    </div>
  </div>
  <div class="item">
    <div class="text">Quick download single image</div>
    <div class="images">
      <img src="./context-menu-quick-download.png" alt="">
    </div>
  </div>
</div>

<p class="version-title">Version 2.1.0:</p>
<div class="changes">
  <div class="item">
    <div class="text">You can now filter media by size and type</div>
    <div class="images">
      <img src="./image-filters.png" alt="">
      <img src="./video-filters.png" alt="">
      <img src="./audio-filters.png" alt="">
    </div>
  </div>
</div>

<p class="version-title">Version 2.0.4:</p>
<div class="changes">
  <div class="item">Fix minor bugs after update few features</div>
</div>

<p class="version-title">Version 2.0.3:</p>
<div class="changes">
  <div class="item">Fix bug that downloader stops appearing</div>
</div>

<p class="version-title">Version 2.0.2:</p>
<div class="changes">
  <div class="item">You can switch whether open popup or side panel</div>
</div>

<p class="version-title">Version 2.0.1:</p>
<div class="changes">
  <div class="item">Fix download errors</div>
</div>

<p class="version-title">Version 2.0.0:</p>
<div class="changes">
  <div class="item">
    <div class="text">Dark theme available</div>
    <div class="images">
      <img src="./dark-light-panel.png" alt="">
      <img src="./dark-light-popup.png" alt="">
    </div>
  </div>
  <div class="item">
    <div class="text">Added Media Downloader to context menu</div>
    <div class="images">
      <img src="./context-menu-option.png" alt="">
    </div>
  </div>
  <div class="item">Moved downloader to left panel</div>
  <div class="item">Changed layout</div>
  <div class="item">Display media from all visited tabs</div>
  <div class="item">Remember media when changing tab</div>
  <div class="item">Remember media when changing URL in tab</div>
  <div class="item">Fixed bugs that "when video url is in &lt;source&gt; tag then shows empty page"</div>
</div>

<p class="version-title">Version 1.2.0:</p>
<div class="changes">
  <div class="item">You can now select many items to download at once</div>
  <div class="item">Allow to download audio</div>
</div>

<p class="version-title">Version 1.1.0:</p>
<div class="changes">
  <div class="item">You can now select many items to download at once</div>
  <div class="item">Allow to download audio</div>
</div>

<p class="version-title">Version 1.0.2:</p>
<div class="changes">
  <div class="item">Allow to download videos</div>
  <div class="item">Allow to download background images</div>
</div>

<p class="version-title">Version 1.0.0:</p>
<div class="changes">
  <div class="item">Simple images downloader</div>
</div>

<p><a href="mailto:dawidjez@gmail.com" target="_blank">Contact me</a></p>

<script src="/dist/theme.bundle.js"></script>
</body>
</html>
