@import "accordion.css";

body.light-theme {
    --imageBorderColor: #b1b1b1;
}

body.dark-theme {
    --imageBorderColor: #b1b1b1;

}

.grid img,
.grid video {
    border: 4px solid var(--imageBorderColor);

    &:hover {
        border-color: var(--activeColorHover);
    }

    &.checked {
        border-color: var(--activeColor);
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--imageSize));
    grid-template-rows: auto;
    gap: 10px;
}

