@import "accordion.css";

body.light-theme {
    --imageBorderColor: #b1b1b1;
}

body.dark-theme {
    --imageBorderColor: #b1b1b1;

}

.grid img,
.grid video {
    width: var(--imageSize);
    height: var(--imageSize);
    border: 4px solid var(--imageBorderColor);
    object-fit: scale-down;
    background-position: center center;
    background-image: url(/images/transparent.png);

    &:hover {
        border-color: var(--activeColorHover);
    }

    &.checked {
        border-color: var(--activeColor);
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--imageSize));
    grid-template-rows: auto;
    gap: 10px;
}

.grid .item {
    justify-self: center;
    position: relative;
}

.grid .item p {
    position: absolute;
    padding: 10px 5px;
    bottom: 0;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.download_image_button {
    width: 25px;
    position: absolute;
    top: 5px;
    left: 7px;
}

.item-details {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #fff;
    padding: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-details-ext, .item-details-dimensions {
    background-color: #a1a1a1;
    padding: 3px;
    border-radius: 4px;
}
