@import "accordion/accordion.css";
@import "top-container.css";
@import "yt-info.css";
@import "changelog-link.css";
@import "download-button.css";
@import "filters/filters.css";
@import "../common.css";

body {
    color: var(--fontColor);
    background-color: var(--bgColor);
    min-height: 150px;
    --imageSize: 120px;
}

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.accent {
    color: var(--activeColor);
}

button,
label,
img,
input[type='checkbox'] {
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

button {
    width: 100%;
    height: 25px;
    border: none;
    padding: 3px 10px;
    font-size: 12px;
}

button img {
    width: 100%;
    height: 100%;
}
