.section-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.section-buttons button {
    background: transparent;
    height: 35px;
    outline: none;
    color: var(--sectionButtonIconColor);
    cursor: pointer;
    position: relative;
}

.section-buttons button .items-count {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: calc(50% + 24px);
    user-select: none;
    pointer-events: none;
}

.section-buttons button.selected {
    background: var(--activeColor);
    color: var(--sectionButtonActiveIconColor);
}
